
/*
@media all and (min-width: 993px) and (max-width: 1200px){}
@media all and (min-width: 767px) and (max-width: 992px){}
@media all and (min-width: 480px) and (max-width: 768px){}
@media all and (min-width: 299px) and (max-width: 479px){}

*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
   font-family: 'Montserrat';
   margin-bottom: 50px;  
   
   margin-bottom: 500px;
}

a{
    text-decoration: none;
    cursor: pointer;
}






@media all and (min-width: 993px) and (max-width: 1200px) {
    body {
        overflow-x: hidden;
    }
  
    
  }
  
  @media all and (min-width: 767px) and (max-width: 992px) {
    body {
        overflow-x: hidden;
    }
  
   
  }
  
  @media all and (min-width: 480px) and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
  
   
  }
  
  @media all and (min-width: 299px) and (max-width: 479px) {
    body {
        overflow-x: hidden;
    }
  
  
  }